/* Top nav */
.topnav {
  overflow: hidden;
  text-align: right;
}

.topnav a {
  display: -webkit-inline-box;
  color: #294E6F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #F04A54;
}

.topnav #icon {
  display: none;
  position: absolute;
  z-index: 2;
  color: #F04A54;
}

.topnav #navIcon {
  z-index: 2;
  color: #F04A54;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:last-child) {
    float: left;
    opacity: 0;
  }
  .topnav a#icon {
    right: 0;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    background-color: #333;
    padding-top: 45px;
    width: 40%;
    float: right;
    z-index: 1;
    height: 100vh;
  }
  .topnav.responsive a#icon {
    position: absolute;
    color: #F04A54;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    color: #F04A54;
    display: block;
    text-align: right;
  }
}

/* Side nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #294E6F;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #F04A54;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.menu {
  background: url(../assets/nav/menu.png) no-repeat;
  background-size: 100%;
  width: 80px;
  height: 35px;
}

.scale-out-center {
	-webkit-animation: scale-out-center 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-center 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    background: url(../assets/nav/close.png) no-repeat;
    background-size: 100%;
    width: 80px;
    height: 35px;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    background: url(../assets/nav/close.png) no-repeat;
    background-size: 100%;
    width: 80px;
    height: 35px;
  }
}
