// Colors
$white: #fff;
$catskill-white: #f7f9fb;
$gallery: #ebebeb;
$cornflower: #9fc1ea;
$science-blue: #0764d5;
$mirage: #1b222b;

// Font
$title-font: 'Work Sans', sans-serif;
$body-font: 'Roboto', sans-serif;

html {
  font-family: $body-font;
  background: linear-gradient(to bottom, $catskill-white, $white);
}

body {
  background: linear-gradient(to bottom, $catskill-white, $white);
  overflow-x: hidden;
  overflow-y: overlay;
  font-size: 1rem;
}

.container-fluid {
  padding-top: 15px;
}

p {
  font-size: 20px;
}

/* Common */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

.row {
  margin: unset;
}

.max-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.footer {
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.vertical-align {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.poof {
  opacity: 0;
}

.send-it {
  cursor: e-resize;
}

.copy {
  cursor: copy;
}

/* Architecture */
.hero-wrap {
  background: linear-gradient(to top, $science-blue 0%, $science-blue 100%);
}

#icon {
  height: auto;
}

.nav-item {
  font-size: 0.75em;
}

#banner {
  height: 80vh;
  width: 100%;
  min-height: fit-content;
  color: $white;
  padding: 5em 0 2em 0;
}

.section {
  height: 70vh;
  min-height: fit-content;
}

.title-intro {
  font-family: $title-font;
  font-size: 5em;
  font-weight: 900;
}

.subtitle-intro {
  font-size: 2.5em;
  font-weight: 200;
  color: $white;
  opacity: 0.8;
  text-transform: uppercase;
  margin: 20px 0 60px 0;
}

.name {
  padding: 0px 8px;
  width: fit-content;
  display: inline-block;
  transition: transform 0.3s;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  animation-name: flip;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes flip {
  to {
    transform: rotateX(90deg) translateY(-1em);
  }
}

.name:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-heading);
  border-bottom: solid $mirage;
  color: $white;
  transition: color 0.3s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  text-align: center;
}

@keyframes flip {
  to {
    transform: rotateX(90deg) translateY(-1em);
  }
}

.btn-contact {
  background-color: $white;
  color: $science-blue;

  a {
    text-decoration: none;
  }  
}

.btn-contact:hover {
  background-color: #9fc1ea; 
}

.portrait {
  width: 6em;
  height: auto;
}

.heading {
  color: $science-blue;
  margin: 1em 0;
  font-weight: 900;
  font-family: $title-font;
  font-size: 2em;
}

#about {
  width: 100%;
  min-height: fit-content;
}

.jumbotron {
  background-color: $science-blue;
  color: $white;
}

.underline {
  border-bottom: solid $mirage;
}

.info-text {
  color: $mirage;
}

#skills {
  width: 100%;
  min-height: fit-content;
}

.card-img-top {
  height: 10em;
}

ul {
  list-style-type: none;
}

#experience {
  margin: 5em 0;
  width: 100%;
  min-height: fit-content;
}

.media {
  padding: 1.25rem;
}

footer {
  background-color: $mirage;
  height: 20vh;
}
