html {
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  background-color: #F1F2F2;
}

body {
  background-color: #F1F2F2;
  overflow-y: overlay;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  @viewport {  
    orientation: portrait;  
  }
  body {
    font-size: 14px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 22px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 26px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    font-size:30px;
  }
}

p {
  font-size: 1.5em;
}

/* Common */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

.row {
  margin: unset;
}

.max-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.footer {
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.vertical-align {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.poof {
  opacity: 0;
}

.send-it {
  cursor: e-resize;
}

.copy {
  cursor: copy;
}

/* Architecture */
.border-top {
  border-top: #F04A54 solid 0.2em !important;
}

#icon {
  width: 4em;
  height: auto;
}

.nav-item {
  font-size: 0.75em;
}

#banner {
  height: 70vh;
  width: 100%;
  min-height: fit-content;
  background-color: #F1F2F2;
  color: #294E6F;
  padding: 2em 0;
}

.section {
  height: 70vh;
  min-height: fit-content;
  background-color: #F1F2F2;
}

.subsection {
  padding-top: 5%;
  font-size: 1em;
  font-size: 16px;
}

.intro {
}

.title-intro {
  font-family: 'Lora', serif;
  font-size: 2.25em;
}

.subtitle-intro {
  width: 20em;
  padding-left: 0.7em;
  border-left: #F04A54 solid 4px;
  font-size: 1.25em;
  font-weight: 200;
  color: rgba(41,78,111, 0.8);
}

.name {
  padding: 0px 8px;
  width: fit-content;
  display: inline-block;
  transition: transform 0.3s;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  animation-name: flip;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.name:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-heading);
  background-color: #F04A54;
  color: #F1F2F2;
  transition: color 0.3s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  text-align: center;
}

@keyframes flip {
  to {
    transform: rotateX(90deg) translateY(-1em);
  }
}

.cartoon {
  padding-top: 8em;
}

.contact {
  font-size: 2em;
}

.section-about {
  background-color: #F1F2F2;
  color: #294E6F;
}

.subsection-about {
  width: 90%;
  padding: 4em 0 8em 5%;
}

.title-about {
  font-family: 'Lora', serif;
}

.subtitle-about {
  padding-left: 30%;
}

.section-about p {
  color: #072138;
  font-weight: 200;
}

.section-skills {
  background-color: #F1F2F2;
  color: #294E6F;
}

ul li {
  font-size: 0.5em;
}

/* Media Queries */
@media (max-width: 1200px) {
  .subsection {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .cartoon-head {
    /* width: 15% !important; */
  }
  .subsection {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .cartoon-head {
    /* width: 15% !important; */
  }
  .subsection {
    font-size: 14px;
  }
  .subtitle-about {
    padding-left: 30%;
  }
}

@media (max-width: 576px) {
  .cartoon-head {
    /* width: 15% !important; */
  }
  .subsection {
    font-size: 12px;
  }
} 

/* Images */
.cartoon-head {
  /* background: url(../assets/images/trevor.png) no-repeat center; */
  background-size: 100%;
  width: 100%;
  height: auto;
}

.dropdown-menu a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover #dropdownMenuButton {
  background-color: #3e8e41;
}

/* Bootstrap Override */
p, .card-text {
  font-size: 0.6em;
}

/* 
whites
  alabaster:    #FcFcFc
  black-haze:   #F1F2F2
  iron-light:   #E6E7E8
  iron-dark:    #D1D3D4
  silver-sand:  #BCBEC0

blues
  bermuda-gray: #6D8BA5
  bismark:      #466A89
  elephant:     #113655
  nile-blue:    #162F48
  astronaut:    #294E6F <- good background
  black-pearl:  #072138

reds
  carnation:    #F04A54 <- text color
*/

.topnav {
  overflow: hidden;
  text-align: right;
}

.topnav a {
  display: -webkit-inline-box;
  color: #294E6F;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav #icon {
  display: none;
  position: absolute;
  z-index: 2;
  color: red;
}

.topnav #navIcon {
  z-index: 2;
  color: red;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:last-child) {
    float: left;
    opacity: 0;
  }
  .topnav a#icon {
    right: 0;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    background-color: #333;
    padding-top: 45px;
    width: 40%;
    float: right;
    z-index: 1;
    height: 100vh;
  }
  .topnav.responsive a#icon {
    position: absolute;
    color: #F04A54;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    color: #F04A54;
    display: block;
    text-align: right;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}