// Colors
$primary: #fff; // white
$primaryAccent: #f7f9fb; // catskill-white
$secondary: #0764d5; // science-blue
$secondaryAccent: #1b222b; // mirage
$tertiary: #9fc1ea; // cornflower

// Font
$title-font: 'Work Sans', sans-serif;
$body-font: 'Roboto', sans-serif;

html {
  font-family: $body-font;
  background-color: $tertiary;
}

body {
  overflow-x: hidden;
  overflow-y: overlay;
  font-size: 12px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  body {
    font-size: 12px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  body {
    font-size: 20px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  body {
    font-size: 24px;
  }
}

.container-fluid {
  padding-top: 15px;
}

p {
  font-size: 20px;
}

/* Common */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: right;
}

.left {
  float: left;
}

.row {
  margin: unset;
}

.max-height {
  height: 100%;
}

.half-height {
  height: 50%;
}

.footer {
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.vertical-align {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.poof {
  opacity: 0;
}

.send-it {
  cursor: e-resize;
}

.copy {
  cursor: copy;
}

/* Architecture */
.hero-wrap {
  background-color: $primary;
}

#icon {
  height: auto;
}

.nav-item {
  font-size: 0.75em;
}

#banner {
  height: 80vh;
  width: 100%;
  min-height: fit-content;
  color: $secondary;
  padding: 9em 0 2em 0;
}

.section {
  height: 70vh;
  min-height: fit-content;
}

.title-intro {
  font-family: $title-font;
  font-size: 5em;
  font-weight: 900;
}

.subtitle-intro {
  font-size: 2.5em;
  font-weight: 200;
  color: $secondary;
  opacity: 0.8;
  text-transform: uppercase;
  margin: 20px 0 60px 0;
}

.name {
  padding: 0px 8px;
  width: fit-content;
  display: inline-block;
  transition: transform 0.3s;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  animation-name: flip;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes flip {
  to {
    transform: rotateX(90deg) translateY(-1em);
  }
}

.name:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: attr(data-heading);
  border-bottom: solid $secondaryAccent;
  color: $secondary;
  transition: color 0.3s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0;
  text-align: center;
}

@keyframes flip {
  to {
    transform: rotateX(90deg) translateY(-1em);
  }
}

.btn-contact {
  background-color: $secondary;
  color: $primary;
  border-radius: unset;

  a {
    color: $primary;
    text-decoration: none;
  }  
}

.btn-contact:hover {
  background-color: #9fc1ea; 
}

.portrait {
  width: 6em;
  height: auto;
}

.heading {
  color: $primary;
  margin: 1em 0;
  font-weight: 900;
  font-family: $title-font;
  font-size: 2em;
}

#about {
  width: 100%;
  min-height: fit-content;
  background-color: $secondary;
}

.jumbotron {
  background-color: $secondary;
  color: $primary;
}

.underline {
  border-bottom: solid $secondaryAccent;
}

.info-text {
  color: $secondaryAccent;
}

#skills {
  width: 100%;
  min-height: fit-content;
}

.card-img-top {
  height: 10em;
}

ul {
  list-style-type: none;
}

#experience {
  margin: 5em 0;
  width: 100%;
  min-height: fit-content;
}

.logo {
  width: 5em;
  height: auto;
}

.media {
  padding: 1.25rem;
}

footer {
  background-color: $secondaryAccent;
  height: 20vh;
}
